<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container mx-auto">
        <a class="navbar-brand text-primary fw-bolder" th:href="@{/todo}">Todo<span class="text-danger">-List</span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">For Teams</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Resources
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Getting Start</a></li>
                        <li><a class="dropdown-item" href="#">Template</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Help Center</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<main>
    <div class="container d-flex justify-content-between align-items-center">
        <h3 class="my-5 text-secondary">Todos List</h3>
        <div>
            <form th:action="@{/todo/search}" th:object="${todoLists}" method="get">
                <div class="d-flex gap-1">
                    <label for="searchTask"></label>
                    <input type="text" id="searchTask" name="searchTask" required class="form-control" placeholder="Search task">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </form>
        </div>

    </div>
    <div class="container">
        <p class="text-black-50">- You can create your new Todo by using the button below!</p>
        <!-- Button trigger modal to create-->
        <button type="button" class="btn btn-primary mb-4" data-bs-toggle="modal" data-bs-target="#createModal">
            New Todo +
        </button>
        <div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="createModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="createModalLabel">Create your Todo</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form th:action="@{/todo/new}" method="post">
                        <div class="modal-body">
                            <div class="mb-3">
                                <label for="task" class="form-label">Task</label>
                                <input type="text" class="form-control" id="task" placeholder="Your title task..." name="task">
                            </div>
                            <div class="mb-3">
                                <label for="description" class="form-label">Description</label>
                                <input type="text" class="form-control" id="description" placeholder="Your description..." name="description">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <input type="submit" class="btn btn-primary" value="Create">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <table class="table table-bordered border-primary">
                <thead>
                <tr>
                    <th class="text-center text-danger">ID</th>
                    <th class="text-center text-danger">Task</th>
                    <th class="text-center text-danger">Description</th>
                    <th class="text-center text-danger">Is Done</th>
                    <th class="text-center text-danger">Create At</th>
                    <th class="text-center text-danger">Todo Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="todoList : ${todoLists}">
                    <td th:text="${todoList.id}"></td>
                    <td th:text="${todoList.task}"></td>
                    <td th:text="${todoList.description}"></td>
                    <td th:text="${todoList.done}"></td>
                    <td th:text="${todoList.createAt}"></td>
                    <td>
                        <div class="flex justify-center">
                            <a href="#"><button class="btn btn-primary">Edit</button></a>
                            <a th:href="@{'/todo/delete/' + ${todoList.id}}" onclick="return confirm('Are you sure you want to delete this item?')">
                                <button class="btn btn-danger">Delete</button>
                            </a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
